body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #0f0f0f 0%, #434343 74%);

}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.top-cards,
.bottom-cards {
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.card {
  width: 200px;
  padding: 10px;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  box-shadow: 0 2px 5px rgba(248, 10, 10, 0.3);
  margin-bottom: 10px;
  border-radius: 7px;
  transition: transform 0.5s, box-shadow 0.5s;
 
}

.card:hover {
  box-shadow: 0 4px 8px rgba(172, 172, 172, 0.9);
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card h3 {
  font-family: avro;
  margin: 0;
  font-size: 18px;
}

.card p {
  font-family: greatPrimer;
  margin: 0;
  font-size: 14px;
  color: #777;
}
.card h3,
.card p {
  text-align: center;
  color: beige;
}
